body {
	text-align: center;
	color: white;
	background: url(../images/white.png);
  background-repeat: repeat;
  background-attachment: fixed;
  box-shadow:  0px 1em 5em 0px rgba(0, 0, 0, 0.3) inset;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.gallery_content{
	 padding: 2% 6% !important;
}
.demo-btn {
	display: inline-block;
	margin: 0 2.5px 4vh 2.5px;
	text-decoration: none;
	color: grey;
	padding: 15px;
	line-height: 1;
	min-width: 140px;
	background: rgba(0,0,0, 0.07);
	border-radius: 6px;
	}

.demo-btn:hover {
	background: rgba(0,0,0,0.12);
	}

@media (max-width: 640px) {

.demo-btn {
	min-width: 0;
	font-size: 14px;
	}
}